{
    "compilation_database": [
        ".tis-ci/_build",
        ".tis-ci/src/glib/_build",
        ".tis-ci/src/zlib",
        ".tis-ci/src/libgcrypt",
        ".tis-ci/src/pcre"
    ],
    "files": [
        ".tis-ci/tis_stubs/tis_libc_stubs.c",
        ".tis-ci/src/glib/glib/garray.c",
        ".tis-ci/src/glib/glib/gcharset.c",
        ".tis-ci/src/glib/glib/gconvert.c",
        ".tis-ci/src/glib/glib/genviron.c",
        ".tis-ci/src/glib/glib/gfileutils.c",
        ".tis-ci/src/glib/glib/ggettext.c",
        ".tis-ci/src/glib/glib/ghash.c",
        ".tis-ci/src/glib/glib/glib-init.c",
        ".tis-ci/src/glib/glib/gmain.c",
        ".tis-ci/src/glib/glib/gmem.c",
        ".tis-ci/src/glib/glib/gmessages.c",
        ".tis-ci/src/glib/glib/gprintf.c",
        ".tis-ci/src/glib/glib/gquark.c",
        ".tis-ci/src/glib/glib/grefcount.c",
        ".tis-ci/src/glib/glib/gregex.c",
        ".tis-ci/src/glib/glib/gslice.c",
        ".tis-ci/src/glib/glib/gslist.c",
        ".tis-ci/src/glib/glib/gstrfuncs.c",
        ".tis-ci/src/glib/glib/gstring.c",
        ".tis-ci/src/glib/glib/gtestutils.c",
        ".tis-ci/src/glib/glib/gthread-posix.c",
        ".tis-ci/src/glib/glib/gthread.c",
        ".tis-ci/src/glib/glib/libcharset/localcharset.c",
        ".tis-ci/src/libgcrypt/cipher/md.c",
        ".tis-ci/src/libgcrypt/src/visibility.c",
        ".tis-ci/src/pcre/pcre_config.c",
        ".tis-ci/src/zlib/crc32.c",
        ".tis-ci/src/zlib/inffast.c",
        ".tis-ci/src/zlib/inflate.c",
        ".tis-ci/src/zlib/inftrees.c",
        ".tis-ci/src/zlib/zutil.c",
        ".tis-ci/_build/wiretap/ascend.c",
        ".tis-ci/_build/wiretap/ascend_scanner.c",
        ".tis-ci/_build/wiretap/busmaster_parser.c",
        ".tis-ci/_build/wiretap/busmaster_scanner.c",
        ".tis-ci/_build/wiretap/candump_parser.c",
        ".tis-ci/_build/wiretap/candump_scanner.c",
        ".tis-ci/_build/wiretap/k12text.c",
        "capinfos.c",
        "ui/cmdarg_err.c",
        "ui/failure_message.c",
        "wiretap/5views.c",
        "wiretap/aethra.c",
        "wiretap/ascendtext.c",
        "wiretap/atm.c",
        "wiretap/ber.c",
        "wiretap/btsnoop.c",
        "wiretap/busmaster.c",
        "wiretap/camins.c",
        "wiretap/candump.c",
        "wiretap/capsa.c",
        "wiretap/catapult_dct2000.c",
        "wiretap/commview.c",
        "wiretap/cosine.c",
        "wiretap/csids.c",
        "wiretap/daintree-sna.c",
        "wiretap/dbs-etherwatch.c",
        "wiretap/dct3trace.c",
        "wiretap/dpa400.c",
        "wiretap/erf.c",
        "wiretap/eyesdn.c",
        "wiretap/file_access.c",
        "wiretap/file_wrappers.c",
        "wiretap/hcidump.c",
        "wiretap/i4btrace.c",
        "wiretap/ipfix.c",
        "wiretap/iptrace.c",
        "wiretap/iseries.c",
        "wiretap/json.c",
        "wiretap/k12.c",
        "wiretap/lanalyzer.c",
        "wiretap/libpcap.c",
        "wiretap/log3gpp.c",
        "wiretap/logcat.c",
        "wiretap/logcat_text.c",
        "wiretap/mime_file.c",
        "wiretap/mp2t.c",
        "wiretap/mp4.c",
        "wiretap/mpeg.c",
        "wiretap/mplog.c",
        "wiretap/netmon.c",
        "wiretap/netscaler.c",
        "wiretap/netscreen.c",
        "wiretap/nettl.c",
        "wiretap/nettrace_3gpp_32_423.c",
        "wiretap/network_instruments.c",
        "wiretap/netxray.c",
        "wiretap/ngsniffer.c",
        "wiretap/packetlogger.c",
        "wiretap/pcap-common.c",
        "wiretap/pcapng.c",
        "wiretap/peekclassic.c",
        "wiretap/peektagged.c",
        "wiretap/pppdump.c",
        "wiretap/radcom.c",
        "wiretap/rfc7468.c",
        "wiretap/ruby_marshal.c",
        "wiretap/snoop.c",
        "wiretap/stanag4607.c",
        "wiretap/systemd_journal.c",
        "wiretap/tnef.c",
        "wiretap/toshiba.c",
        "wiretap/visual.c",
        "wiretap/vms.c",
        "wiretap/vwr.c",
        "wiretap/wtap.c",
        "wiretap/wtap_opttypes.c",
        "wsutil/buffer.c",
        "wsutil/filesystem.c",
        "wsutil/frequency-utils.c",
        "wsutil/jsmn.c",
        "wsutil/mpeg-audio.c",
        "wsutil/nstime.c",
        "wsutil/str_util.c",
        "wsutil/wsjson.c"
    ],
    "machdep": "gcc_x86_64",
    "main": "main",
    "raw_options": {
        "-cpp-command": "gcc -C -E -nostdinc",
        "-cpp-extra-args": " -D__TIS_TARGET_LINUX__ -Dvolatile= -isystem .tis-ci/prefix/include ",
        "-val": true,
        "-val-args": " pcap_file",
        "-val-builtin": "g_slice_alloc:tis_alloc",
        "-val-malloc-returns-null": false,
        "-val-profile": "interpreter",
        "-val-stop-at-nth-alarm": "0"
    }
}
